.topo-unico {
    background-color: green;
    text-align: center;
    justify-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;

}
.botao {
    font-size: 2rem; 
    padding: 20px 0;
    cursor: pointer;
    background-color: yellow;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-weight: bold;
}

.botao[onclick="adicionar('0')"] {
    grid-column: 2 / 3; 
}

.botao:hover {
    background-color: white;
}

.botao3{
    background-color: red;
}

.botao4{
    background-color: greenyellow;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 15px;
    margin: 0;
    justify-content: end;
    max-width: 350px;
}
.urna-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
.campo{
    font-size: 100px;
    padding: 10px;
    text-align: center;
    width: 1000px;
}
